/* Main Menu Styling */
.main-menu {
  display: flex;
}
.main-menu li {
  width: 33%;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  list-style-type: none;
}
.main-menu-labels {
  margin: 0;
  padding: 15px 0;
  background-color:  #CF5230;
  color: #E3C598;
  font-size: 18px;
}
/* Sub Menu Styling */
.sub-menu {
  padding-left: 0;
  background-color:  #F59A44;
}
.sub-menu li {
  display: block;
  width: 100%;
  padding: 20px;
  border: 2px solid #fff;
  box-sizing: border-box;
  color: #6E352C;
}
 /* Menu Display */

.products-sub, .services-sub, .company-sub {
  display: none;
  overflow: hidden;
  transition: .5s;
}
.show-menu {
  display: block;
  height: 185px;
  transition: .5s;
}
